.p-card-title {
  color: #614200;
  font-weight: 500;
  font-size: 18pt;
}
.p-orange {
  color: #614200;
}
.p-red {
  color: #bd8600;
  font-size: 1.5em;
}
.p-menu-custom {
  color: white;
  font-size: 0.8em;
}
.p-logo {
  color: rgb(252, 213, 25);
}
.p-team-img {
  width: 132px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.p-mylink {
  color: #614200;
  text-decoration: underline;
}
